.dice {
    display: flex;
    padding: 10px;
    background-color: black;
    width: 80px;
    height: 80px;
    border-radius: 10%;
    cursor: pointer;

    .dot {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
    }

    &.two, &.three, &.four, &.five, &.six {
        justify-content: space-between;
    }

    &.one {
        justify-content: center;
        align-items: center;
    }

    &.two {
        .dot:nth-of-type(2) {
            align-self: flex-end;
        }
    }

    &.three {
        .dot:nth-of-type(1) {
            align-self :flex-end;
        }
        .dot:nth-of-type(2) {
            align-self :center;
        }
    }

    &.four, &.five, &.six {
        .column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &.five .column:nth-of-type(2) {
        justify-content: center;
    }
}
