@use "constants" as c;

#footer-container {

    #footer-toolbar {
        background: c.$blue;
        display: flex;
        justify-content: space-between;

        .footer-object {
            margin: 0 5px;
            font-size: small;
        }
        .footer-link {
            cursor: pointer;
            padding: 15px 3px;
            &:hover {
                color: grey;
            }
        }
    }
}
