@use "constants" as c;

#header-container {
    flex-grow: 0;
    #header-toolbar {
        display: flex;
        justify-content: space-between;
        background: c.$blue;

        #header-clickables {
            display: flex;
        }
    }
}
