#pieces-tray {
    display: flex;
    justify-content: right;

    .piece {
        cursor: pointer;
        z-index: 1;
        color: black;

        svg {
            font-size: 60px;
        }
    }
}
