#utilities-tray {
    position: absolute;
    right: 0;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
    margin: 30px;
    background: #91dcff;

    #handle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: grey;
        margin: 5px 5px 5px auto;
        cursor: pointer;
    }

    .dice {
        margin: 5px;
    }
}
